<style>
    .imgsobremi img{
        width: 100%;
    }

    .redondo{
        border: 5px solid;
        border-color: black;
        border-radius: 50%;
    }
</style>

<div class="container p-5">

    <div class="row align-items-center">
        
        <div class="imgsobremi col-sm-2">
            <img src="/experimental/imgs/yo.jpeg" alt="" class="redondo">
        </div>
        
        <div class="col-10 pt-3">
            <h4>Licenciado en Diseño Multimedial</h4>
            <p>
                kajdks klasjdlak alsdjald klasjdla klasjdlka klasjdlka lkasdjlakd alksdjald
                klasd klasdj fjsjdf sldfksldf alksdjaiosd udasdamsd dlkfjfdlgkd lasdjialskd
                sldjfnslkjdf aslkdamsld laksdjalksd .askdlaksd asdlkajsdad
            </p>
        </div>
    </div>

    
</div>