<style>
    .imgsobremi img{
        width: 100%;
    }

    .redondo{
        border: 5px solid;
        border-color: black;
        border-radius: 50%;
    }
</style>

<div class="container p-5">

    <div class="row align-items-center">
        
        <div class="imgsobremi col-sm-2">
            <img src="imgs/yo.jpeg" alt="" class="redondo">
        </div>
        
        <div class="col-10">
            <h3>Licenciado en Diseño Multimedial</h3>
            <p>
                <strong>Programador de sistemas y obras interactivas.</strong></br>
                hernangonzalezmoreno@gmail.com
            </p> 
        </div>
    </div>

    
</div>
