<div class="container">

    <h5>Algunas cosas</h5>

    <!-- ROW 1 -->
    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <div class="text-center"><img width="75%" src="imgs/laravel_angular.png" alt="Imagen" ></div>
            <div class="card-body">
                <h5 class="card-title">Blog: Laravel ♥ Angular</h5>
                <p class="card-text">
                    <strong>Blog</strong> es un proyecto <em>open source</em> hecho con Laravel y Angular.
                    Es simple, pero se puede apreciar todo el potencial que tienen estas dos tecnologías cuando trabajan juntas.
                    Puede ver y descargar el código fuente desde los siguientes repositorios:<br/>
                    &#9679; <a href="https://github.com/hernangonzalezmoreno/backend-blog-laravel" target="_blank" >Backend con Laravel.</a><br/>
                    &#9679; <a href="https://github.com/hernangonzalezmoreno/frontend-blog-angular" target="_blank" >Frontend con Angular.</a><br/>
                    También puede visitar el blog implementado en el siguiente sitio: <a href="http://blog.moduchip.com.ar" target="_blank" >blog.moduchip.com.ar</a>
                </p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/380939811?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="La Caja Discursiva"></iframe>
            <div class="card-body">
                <h5 class="card-title">La Caja Discursiva</h5>
                <p class="card-text">
                    Es una obra interactiva que se presento el 14 de Diciembre de 2019, dentro del marco de “Artimañas: Festival de Arte Interactivo Vol. 7”. El festival tiene como objetivo presentar los trabajos finales de los alumnos de la carrera Diseño Multimedial de la Universidad Nacional de La Plata.
                </p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe class="card-img-top" src="https://player.vimeo.com/video/472436807?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

            <div class="card-body">
                <h5 class="card-title">Tu Peso en Agua</h5>
                <p class="card-text">Programación de obra interactiva realizada dentro del LAIT para el evento "Planeta Agua", que se presentó en el Centro de Arte de la UNLP (2019).</p>
            </div>
        </div>

    </div>

    <!-- ROW 2 -->
    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe width="100%" src="https://www.youtube.com/embed/oPXk3sJHIYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Battle City Worlds</h5>
                <p class="card-text">
                    Videojuego multijugador de exploración y acción.
                    Inspirado en el clásico Battle City.
                    Actualmente se encuentra en desarrollo. Próximamente estaré liberando el código bajo la licencia MIT :). 
                </p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe width="100%" src="https://www.youtube.com/embed/_TEHV3nZHI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">DC Motor + App</h5>
                <p class="card-text">Control de un Motor DC mediante pulsadores o desde un app para smartphone. Este desarrollo lo hicimos en Moduchip bajo encargo junto con mi socio Dardo Fortunato.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe width="100%" src="https://www.youtube.com/embed/S1xQk9MdKsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">ESP32 + API Rest + Flutter</h5>
                <p class="card-text">Sistema IoT de monitoreo y control de temperatura. Para este proyecto se utilizó una ESP32 como microcontrolador, se desarrolló una API Rest, y se programó una aplicación para smartphone en Flutter.</p>
            </div>
        </div>

    </div>

    <!-- ROW 3 -->
    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/297223824" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">COD05</h5>
                <p class="card-text">COD05 (2014-2018) es un sistema de partículas virtuales, capaces de interactuar con las personas. Mediante una cámara Kinect se captura el movimiento de las personas, y esto afecta al sistema de partículas.
                </p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/243051280?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Uturunku</h5>
                <p class="card-text">Obra interactiva del Estudio Biopus, donde participé como ayudante técnico. La obra fue presentada en el Centro Cultural de San Martín (2017).
                </p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe width="100%" src="https://www.youtube.com/embed/PTBEQMyHrIY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Diseño de PCB</h5>
                <p class="card-text">Uno de mis diseños de PCB realizado en EasyEda.</p>
            </div>
        </div>

    </div>

    <!-- ROW 4 -->
    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/255305472?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Escanear cuerpo (Kinect + Processing + Blender)"></iframe>
            <div class="card-body">
                <h5 class="card-title">Escaneando cuerpo con Kinect</h5>
                <p class="card-text">Desarrollo de un programa en Processing que utiliza la cámara Kinect para exportar un modelo 3D en formato OBJ. De tal manera, el modelo se puede abrir en cualquier programa de 3D como puede ser Blender.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/356220111?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Obra interactiva para la Comisi&amp;oacute;n Provincial por la Memoria (La Plata - 2019)"></iframe>
            <div class="card-body">
                <h5 class="card-title">Comisión Provincial por la Memoria</h5>
                <p class="card-text">Obra interactiva realizada para la Comisión Provincial por la Memoria (2019).</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/163540425?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Inside Of The Code"></iframe>
            <div class="card-body">
                <h5 class="card-title">Inside of the Code</h5>
                <p class="card-text">Inside of the Code (2016) es una obra experimental y conceptual realizada con Processing. El código del programa tiene las instrucciones de leer su propio código fuente para mostrarlo en un espacio recorrible y en 3D. Es una obra conceptual, que invita a ver el “resultado” y el “cómo se hizo” al mismo tiempo.
                </p>
            </div>
        </div>

    </div>

    <!-- ROW 5 -->
    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/275361768" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Mapping Interactivo para Samsung</h5>
                <p class="card-text">Participé como asistente técnico en el Estudio Biopus, para la realización de un mapping interactivo para Samsung.
                </p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/150712260?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">La Escala del Universo</h5>
                <p class="card-text">La Escala del Universo (2015) es una obra interactiva desarrollada para el Centro Cultural de la Ciencia (C3). Participé en el desarrollo del software.
                </p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/356212287?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Software art&amp;iacute;stico y educativo para las Escuelas de Verano (2017)"></iframe>
            <div class="card-body">
                <h5 class="card-title">Piano - Escuela de Verano (2017)</h5>
                <p class="card-text"><em>Piano</em> es un software didáctico, pensado para la enseñanza sobre la música sintética. Fue desarrollado para la Escuela de Verano de la Provincia de Buenos Aires (2017). Con este software los alumnos pueden crear visuales al mismo tiempo que componen melodías. Además, pueden cambiar la forma de onda (cuadrada, diente de sierra, sinusoide, etc.) para escuchar los distintos timbres.</p>
            </div>
        </div>

    </div>

    <!-- ROW 6 -->
    <div class="row">

        <div class="col-md-4 card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/129983507?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Mandalasoft"></iframe>
            <div class="card-body">
                <h5 class="card-title">Mandalasoft (2015)</h5>
                <p class="card-text">Es un software para la creación de mandalas. Las mandalas son construidas mediante la utilización de primitivas como círculos y anillos. Además, utiliza la lógica de capas, brindando un gran potencial para crear mandalas muy variadas.</p>
            </div>
        </div>


    </div>



</div>
