<div class="container">

    <h5>Algunas cosas</h5>

    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/380939811?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="La Caja Discursiva"></iframe>
            <div class="card-body">
                <h5 class="card-title">La Caja Discursiva</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe class="card-img-top" src="https://player.vimeo.com/video/472436807?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
   
            <div class="card-body">
                <h5 class="card-title">Tu Peso en Agua</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/255305472?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Escanear cuerpo (Kinect + Processing + Blender)"></iframe>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

            
    </div>

    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/356220111?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Obra interactiva para la Comisi&amp;oacute;n Provincial por la Memoria (La Plata - 2019)"></iframe>
            <div class="card-body">
                <h5 class="card-title">Tu Peso en Agua</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/163540425?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Inside Of The Code"></iframe>
            <div class="card-body">
                <h5 class="card-title">La Caja Discursiva</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/243051280?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

            
    </div>

    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/275361768?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            
            <div class="card-body">
                <h5 class="card-title">Tu Peso en Agua</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/356212287?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Software art&amp;iacute;stico y educativo para las Escuelas de Verano (2017)"></iframe>
            <div class="card-body">
                <h5 class="card-title">La Caja Discursiva</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/150712260?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

            
    </div>

    <div class="row">

        <div class="col-md card m-2 px-1 py-5 bg-light">
            
            <iframe width="100%" src="https://www.youtube.com/embed/PTBEQMyHrIY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div class="card-body">
                <h5 class="card-title">Tu Peso en Agua</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe width="100%" src="https://www.youtube.com/embed/S1xQk9MdKsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
                <h5 class="card-title">La Caja Discursiva</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

        <div class="col-md card m-2 px-1 py-5 bg-light">
            <iframe src="https://player.vimeo.com/video/129983507?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Mandalasoft"></iframe>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

            
    </div>

</div>